.noto-sans-jp-body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
p {
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: #1b1e21;
    color: #EEEEEE;
    min-height: 100%;
}

a {
    color: #efefef;
}

a:hover {
    color: #ffffff;
}

img.front-img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.container {
    margin-top: 50px;
    min-height: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #666666;
    border-color: #EEEEEE;
}

input#userInput {
    width: 150px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: x-small;
}